@keyframes sendFly {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    70% {
        transform: translateY(-100px);
        opacity: 1;
    }

    71% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.animation-custom {
    transition: all 0.5s;
    animation: sendFly 1s ease-in-out;
}

#button-send-message:disabled i {
    color: rgb(59, 130, 246,0.5);
}